html {
  background-color: black;
}

body {
  display: flex;
  height: auto;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Helvetica Neue','OpenSans-regular',Arial,Helvetica,sans-serif;
}

.primary {
  background-color: #B3E5FC;
}
/* container 1*/
aside {
  height: auto;
  width: 30%;
}

section:nth-child(1) {
  background-color: #B3E5FC;
  height: 300px;
}

section:nth-child(2) {
  background-color: #B3E5FC;
  height: auto;
}

section:nth-child(3) {
  background-color: #B3E5FC;
  height: 550px;
}

section:nth-child(4) {
  background-color: #B3E5FC;
  height: 150px;
}

.title-aside {
  background-color: #29293d;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blow {
  margin: 10px;
  color: #B3E5FC;
  font-size: 25px;
}

.paragraphe {
  padding: 10px 35px 30px 35px;
}

.align {
  text-align: justify;
}

section:nth-child(3) {
  background-color: #B3E5FC;

}

section:nth-child(4) {
  background-color: #B3E5FC;
}

/* container 2*/
main {
  height: auto;
  width: 70%;
}

article {
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.09);
  height: 400px;

}

article:nth-child(1) {
  background-color: #B39DDB;
}

article:nth-child(2) {
  background-color: #FFE082;
}

article:nth-child(3) {
  background-color: #ef9a9a;
}
