html {
  background-color: black;
}

body {
  display: flex;
  height: auto;
  margin: auto;
  font-family: 'Helvetica Neue','OpenSans-regular',Arial,Helvetica,sans-serif;
  border: 1px solid grey;
}

.primary {
  background-color: #B3E5FC;
}

mark {
  background-color: #FAFAFA;
  color: #B3E5FC;
}

img {
  height: 200px;
  border-radius: 180px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* container 1*/
aside {
  height: auto;
  width: 30%;
}

section:nth-child(1) {
  background-color: #B3E5FC;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(2) {
  background-color: #B3E5FC;
}

section:nth-child(3) {
  background-color: #B3E5FC;
  height: 730px;
}

section:nth-child(4) {
  background-color: #B3E5FC;
  height: auto;
}

.title-aside {
  background-color: #29293d;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blow {
  margin: 10px;
  color: #B3E5FC;
  font-size: 25px;
}

.paragraphe {
  padding: 20px 40px 40px 40px;
}

.align {
  text-align: justify;
}

.para-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 25px 40px 25px 40px;
}

section:nth-child(3) {
  background-color: #B3E5FC;

}

section:nth-child(4) {
  background-color: #B3E5FC;
}

.logosize {
  height: 100px;
}

/* container 2*/
main {
  height: auto;
  width: 70%;
}


article:nth-child(1) {
  background-color: #FAFAFA;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article:nth-child(2) {
  background-color: #FAFAFA;
  height: auto;
}

article:nth-child(3) {
  background-color: #FAFAFA;
  height: auto;
}

article:nth-child(4) {
  background-color: #FAFAFA;
  height: auto;
}
/* --------------------------------------- */

article {
  padding: 15px 35px 30px 60px;
}


h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 25px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.sligne {
  border-radius: 180px;
  height: 3px;
  width: 95px;
}

.bligne {
  border-radius: 180px;
  height: 3px;
  width: auto;
  margin-bottom: 30px;
}

.titre {
  display: flex;
}

.cube {
  height: 50px;
  width: 60px;
  margin-right: 25px;
  margin-bottom: 2px;
}

.block-date-text {
  display: flex;
  margin-bottom: 30px;
}

.nomar{
  margin-top: 0px;
}
.point {
}
.date {
  margin-left: 20px;
  width: 200px;
}
